body {
  margin: 0px;
}

aside {
  font-style: italic;
}

.code {
  border: 3px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

header {
  display: flex;
  background-color: #42444e;
}

header a {
  float: left;
  color: #fff;
  text-decoration: none;
  padding: 20px 10px;
  line-height: 10px;
  margin: 10px;
  border-radius: 4px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}


header .links {
  font-size: 20px;
}

header a:hover {
  background-color: #ddd;
  color: #42444e;
}

footer {
  display: flex;
  background-color: #42444e;
}

.footerLogo {
  margin: 40px;
}

.verticalLine {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-radius: 4px;
  margin: 15px;
} 

.container {
  border: 2px solid #ccc;
  margin: 10px 30px;
  padding: 10px 30px;
  border-radius: 8px;
}